* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(https://img.freepik.com/premium-photo/thermometer-against-background-orange-yellow-hot-glow-clouds-sun-concept-hot-weather_165577-1794.jpg);
  background-size: cover;
}

.container {
  max-width: 450px;
  background: #003333;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.929);
  font-family: sans-serif;
  padding: 20px;
  /* color: aliceblue; */
  background: linear-gradient(to right,rgb(35, 27, 27), orange );

}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
}

.Temperature-icon {
  font-size: 45px;
  color: #fff;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: large;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.2px;
  font-size: 30px;
}

#celsius,
#fahrenheit,
#kelvin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: large;
  font-family: cursive;
}

input {
  flex: 5;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  font-family: cursive;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
  padding: 0 10px;
}

/* for chrome, safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.icon {
  flex: 1;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
  text-align: center;
  font-size: 30px;
background-color: rgba(39, 34, 34, 0.814);
  color: #ffffffbc;

  border-radius: 0 8px 8px 0;
}

.button {
  margin-top: 25px;
  text-align: center;
}

.button button {
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.button button:hover {
  background: #000;
  color: #fff;
 background-color: red;
 border-radius: 20px;
}
